@CHARSET "ISO-8859-1";

body{
    background:#515352;
   	color: white;
   	background: url('../img/cancha.jpg') no-repeat center  fixed;	
   	background-size:1600px 1200px; 
  }
  
  .modal-title
  {
  text-align: center;
	color:black;
  }
  
 #descripcion{
 color: black;
  }

 #tituloCuota   
{   
 text-decoration:none;   
} 