@CHARSET "ISO-8859-1";

body{
    background:#515352;
   	color: white;
   	background: url('../img/cancha.jpg') no-repeat center  fixed;	
   	background-size:1600px 1200px; 
  }
  
  .modal-title
  {
  text-align: center;
	color:black;
  }
  
 #descripcion{
 color: black;
  }

 #tituloCuota   
{   
 text-decoration:none;   
} 

.logo
{
height:20px;	
}


.rc
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	
}
.recuadro
{
	display:flex;
	flex-direction:column;
	width:210px;	
	min-width: 210px;
}
.recuadro2
{
	width:700px;
		min-width: 300px;
}

.b
{
	margin-bottom:3%;
}







