@CHARSET "ISO-8859-1";

body{
    background:#515352;
   	animation: cambioFondo 60s infinite;
   	width: 100%;
   	height: 100%;
   	padding-top: 70px;
  }
  
@keyframes cambioFondo{
    0% {
	   	background: url('../img/cancha.jpg') no-repeat center  fixed;	
    }
    25% {
	   	background: url('../img/cancha2.jpg') no-repeat center  fixed;	
    }
    50% {
	   	background: url('../img/cancha3.jpg') no-repeat center  fixed;	
    }
    75% {
	   	background: url('../img/cancha4.jpg') no-repeat center  fixed;	
    }
    100% {
	   	background: url('../img/cancha.jpg') no-repeat center  fixed;	
    }
}

.primario:hover{
	animation: cambioColor 1s infinite;
}

@keyframes cambioColor{
    0%   {background-color:white;}
    50%  {background-color: #CFE8FF; opacity: 0.9;}
    100% {background-color:white;}
}

  .modal-title
  {
  text-align: center;
	color:black;
  }
  
 #descripcion{
 color: black;
  }

 #tituloCuota   
{   
 text-decoration:none;   
} 

.logo
{
height:20px;	
}


.contenedorCentarl
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	
}
.recuadro
{
	display:flex;
	flex-direction:column;
	width:100%;	
	max-width: 217px;
	justify-content:space-around;
}
.recuadro2
{
	margin-left:10px;
	width:100%;
	min-width: 300px;
}

.botonesFiltro
{
	margin-bottom:3%;
}

@media screen and (max-width: 700px) {

	.contenedorCentarl
{
	display:flex;
	flex-direction:column;
	
	
}
.recuadro
{
	display:flex;
	flex-direction:column;
	width:100%;	
	max-width: 100%;
	justify-content:space-around;
}

}
